html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

#game{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  background: black;
  justify-content: space-around;
}

#menu{
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background: rgb(70, 70, 150);
  color: rgb(0, 204, 102);
  justify-self: left;
  overflow: hidden;
  text-align: center;
}

#menu > header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px 15px 5px;
}

#menu > header input{
  /* justify-self: start; */
}

#menu > div{
  width: 90%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu label{
  font-size: 1.6rem;
  padding: 20px 0;
}

#menu > div > select{
  width: 50%;
  height: 60%;
  border: none;
  background: rgb(70, 70, 70);
  color: rgb(0, 204, 102);
}

#start{
  margin-top: 50px;
  transition: 0.5s;
  background: seagreen;
  color: powderblue;
  border: none;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  align-self: center;
  font-size: 1.5rem;
}

#start:hover{
  margin-top: 40px;
  background: springgreen;
  color: rgb(0, 99, 112);
}

#game > canvas{
  height: auto;
}
